*{
  box-sizing: border-box;
}
body{
    display: flex;
    padding: 0px;
    min-height: 100vh;
  }
  .left-panel{
    width: 125px;
    height: 100vh;
    background-color: #171e29;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .left-panel svg{
    margin-top: 25%;
  }
  
  .bookmark{
    fill: #516a90;
    filter: drop-shadow(-2px 5px 5px black);
  }
  .bookmark:hover{
    cursor: pointer;
  }
  
  .icon{
    transform: scale(2.5) translate(23.5px, 8px);
    transform-origin: top left;
    fill: #171e29;
    
  }
  .icon:hover{
    cursor: pointer;
  }
  
  .wrapper{
    width: calc(100% - 125px);
    background: #fff;
    /* box-shadow: 0 15px 40px rgba(0,0,0,0.12); */
    display: flex;
  }